body {
    background-color: darkcyan;
}

.login-box {
    background-color: lightgray;
    margin-top: 50px;
}

footer {
    color: #fff;
}

/**Delete spinner to Crhome*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/**Delete spinner to Firefox*/
input[type=number] {
-moz-appearance: textfield;
}